<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.balazinski.jakub.takeyourpill">

    <permission
        android:name="pl.balazinski.jakub.takeyourpill.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pill"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">

        <activity
            android:name=".presentation.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activities.PillDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.MapsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD4Z9dKyLxIHKzQMKUsVRaIrtQt0Px_AYM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".presentation.activities.PillActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.AlarmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.AddPillChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.ScanBarcodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.ScanBarcodeChooserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <activity
            android:name=".presentation.activities.AlarmReceiverActivity"
            android:screenOrientation="sensorPortrait"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.AppCompat.Translucent"
            >
        </activity>

        <activity
            android:name=".presentation.activities.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.CustomTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activities.MainActivity" />
        </activity>

        <service
            android:name=".utilities.AlarmService"
            android:enabled="true" />
        <receiver android:name=".utilities.AlarmReceiver" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f5308f37d4fc5e6343f69e5bbcc3d3978b12762" />
    </application>

</manifest>
